<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome back channel!</title>
    </head>
    <body>
            <h1>La gestion des conflits de fusion de branche sous git </h1>
            <p> Les conflits surviennent généralement lorsque deux
                personnes ont modifié les mêmes lignes dans un
                fichier, ou si un développeur a supprimé un fichier
                alors qu'un autre développeur le modifiait.
                ▪
                La résolution se fait en corrigeant un à un les fichiers en
                conflits
                ▪
                La commande git
                status donnera la liste des fichiers
                concerné </p>
    </body>
</html>

