<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome back channel!</title>
    </head>
    <body>
            <h1>Je suis le projet symfony de la L3 miage de ISTIC . comme look on my page  </h1>
      
    </body>
</html>

